/*index*/
.bienvenida {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#mensbien{
    color: rgb(3, 192, 192);
    text-align: center;
    font-family: 'Bungee Shade';
    margin-top: 10vh;
}

.cabra{
    margin-top: 30px;
    margin-bottom: 20px;
    height: 270px;
    width: 270px;
    border-radius: 50%; 
    border: 10px solid rgb(0, 0, 0);
    border-style: double;
    align-content: center;
    box-shadow: 0px 0px 25px rgb(3, 192, 192);

}

#link{
    color:purple;
    padding: 100px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

/*^index*/

.illustrations:hover {
    display: block;
}

img {
    height: 600px;
    width: 600px;
    opacity: 95%;
}

header {
    background-color: white;
    padding-bottom: 2px;
    padding-top: 2px;
    position: sticky; /*NO FUNCIONA*/
    top: 0;
}

body>header>nav>ul>{
 list-style-type: none;
}

body>header>nav>ul>li>a {
    font-weight: bold;
    color: rebeccapurple;
    text-decoration: none;
    margin: auto 50px;
}

img:hover {
    opacity: 60%;
    cursor: pointer;
}

.arriba {
    font-weight: bold;
    color: rebeccapurple;
}

.center {
    text-align: center;
}

footer{
    font-style: italic;
    margin-top: auto;
    opacity: 70%;
}

@media screen and (min-width: 480px){
    font-size: 60px;
}