body{
    min-height: 100vh;
}

/*index*/
.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#mensbien {
    color: rgb(3, 192, 192);
    text-align: center;
    font-family: 'Bungee Shade';
    margin-top: 10vh;
}

.cabra {
    margin: 30px;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    border: 10px solid rgb(0, 0, 0);
    border-style: double;
    align-content: center;
    box-shadow: 0px 0px 25px rgb(3, 192, 192);

}

#link {
    color: purple;
    padding: 100px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

/*^index*/

/*portfolio*/

.toppage{
    position: sticky;
    top: 0;
    background-color: white;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2px;
}

.navport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: white;
    margin: 0vh 5vh
}

#cabratop{
    width: 5vh;
}

.illustrations:hover{
    cursor: pointer;
}

a {
    color: rgb(3, 192, 192);
    text-decoration: none;
    margin-bottom: 1vh;
    font-size:large;
    font-family: 'Pacifico';
}

.center{
    text-align: center;
}

footer{
    font-style: italic;
    margin-top: auto;
    opacity: 70%;
}

#descrip{
font-family: 'Pacifico';
margin: 10vh 5vh 5vh 5vh;
height: 70vh;
}

h3{
    font-family: 'Pacifico';
}

.form{
    font-family: 'Pacifico';
    display:flex;
    flex-direction: column;
    width:100%;
    gap:4px;
    min-height: 70vh;
    margin-left: 1vh;
    margin-right: 2vh;
}

#small{
    font-style: italic;
    font-size: small;
}

#button{
    border-radius: 5px;
    background-color: rgb(169, 229, 229);
    font-weight: bolder;
}

input{
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 480px) {
    font-size: 60px;
}