body {
    min-height: 100vh;
    display: column;
    flex-flow: wrap;
    width: 100%;
}

/*index*/
.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    max-width: 98vw;
}

#mensbien {
    color: rgb(3, 192, 192);
    text-align: center;
    font-family: 'Bungee Shade';
    margin-top: 10vh;
}

.cabra {
    margin: 30px;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    border: 10px solid rgb(0, 0, 0);
    border-style: double;
    align-content: center;
    box-shadow: 0px 0px 25px rgb(3, 192, 192);

}

#link {
    color: purple;
    padding: 100px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

/*^index*/

/*portfolio*/

.toppage {
    position: sticky;
    top: 0;
    background-color: white;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2px;
}

.navport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: white;
    margin: 0vh 5vh
}

#cabratop {
    width: 5vh;
}

.illustrations:hover {
    cursor: pointer;
}

a {
    color: rgb(3, 192, 192);
    text-decoration: none;
    font-size: large;
    font-family: 'Pacifico';
}

.center {
    text-align: center;
}

footer {
    font-style: italic;
    opacity: 70%;
    margin-top: 7vh;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#descrip {
    font-family: 'Pacifico';
    margin: 1vh 5vh 0vh 5vh;
}

#location {
    /*OCULTO: no se adapta a móviles*/
    width: 20px;
    display: none;
}

#robot {
    width: 60vw;
}

h3 {
    font-family: 'Pacifico';
    font-weight: lighter;
}

.form {
    font-family: 'Pacifico';
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 1vh;
    margin-right: 2vh;
}

#small {
    font-style: italic;
    font-size: small;
}

#button {
    border-radius: 5px;
    background-color: rgb(169, 229, 229);
    font-weight: bolder;
}

input {
    font-family: 'Courier New', Courier, monospace;
    max-width: 90vw;
    max-height: 90vh;
}

.form {
    height: 60vh;
    width: 90vw;
}

#third {
    display: inline-flex;
    flex-direction: row;
    margin-right: 70vw;
}

table {
    border: solid rgb(3, 192, 192);
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    border: solid rgb(3, 192, 192);
    border-collapse: collapse;
}

iframe {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80%;
}

.margintop{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-right: 3vh;
}

video{
    margin-left: 5vw;
    width: 80%;
}

@media screen and (min-width: 480px) {
    #illustrations {
        display: inline-flex;
        padding: 1px;
        width: 33%;
    }

    .illustrations {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #robot {
        width: 40vw;
    }

    iframe {
        margin-top: 10vh;
        margin-bottom: 5vh;
        margin-left: 25vw;
        width: 50vw;
        height: 50vh;
    }

    .arreglo{
        height: 80vh;
        width: auto;
    }
}